# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  pypi_build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    defaults:
      run:
        shell: bash -l {0}
        #working-directory: ./
    strategy:
      matrix:
        os: [ubuntu-latest, windows-2019]
        python-version: [3.8, 3.9, "3.10"]
        numpy-version: [1.23]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          # Set fetch-depth to 0 so all history is retrieved; this is needed so we get the git tags
          # which we use for setting the package version (via setuptools-scm).
          fetch-depth: 0
      - name: Setup Miniconda
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: "true"
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: "pypi_build"
          python-version: ${{ matrix.python-version }}
          auto-update-conda: true
          channels: conda-forge
          channel-priority: flexible
          show-channel-urls: true
      - name: Configure Conda
        run: |
          conda config --set unsatisfiable_hints_check_depth 0 # setting unsatisfiable_hints=False is broken
      - name: Install dependencies
        run: |
          set -ex
          python dev_tools/gen_requirements.py --out pypi_reqs.txt pypi
          conda install -q -y --file pypi_reqs.txt
      - name: Install core dependencies
        # Needed for pip install of riptide_cpp from sdist
        run: |
          python -m pip install --upgrade pip
          pip install numpy==${{ matrix.numpy-version }}.*
          # Pin build-constraints for numpy (see https://github.com/pypa/pip/issues/9542#issuecomment-1242347397)
          echo "numpy==${{ matrix.numpy-version }}.*" > constraints.txt
          # Pip install riptide_cpp, along with all dependencies.
          PIP_CONSTRAINT=constraints.txt pip install -v --upgrade riptide_cpp
          python -c "import riptide_cpp; print(riptide_cpp.__version__); print(riptide_cpp.__file__)"
      - name: Install other dependencies
        run: |
          python dev_tools/gen_requirements.py --out runtime_reqs.txt runtime
          python dev_tools/gen_requirements.py --out tests_reqs.txt tests
          pip install -r runtime_reqs.txt -r tests_reqs.txt
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Test with pytest
        run: |
          python -m riptable.tests.run
      - name: Tooling integration tests
        run: |
          echo "DISABLED until tooling tests can be updated"
          #ipython -m riptable.test_tooling_integration.run
      # disable hypothesis tests until they run faster, are more consistent, and are easier to investigate
      #- name: Property based hypothesis tests
      #  run: |
      #    pytest --hypothesis-show-statistics -k test_ -m 'not xfail' riptable/hypothesis_tests
      - name: Package sources
        run: |
          python setup.py sdist
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: build-artifacts
          path: dist/
          if-no-files-found: error

  pypi_deploy:
    if: ${{ github.event_name == 'workflow_dispatch' && github.ref == 'refs/heads/master' }}
    # since riptable is all python source code, only a source build is required from one os
    needs: [pypi_build, conda_build]
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install setuptools wheel twine
      - name: Download build artifacts
        uses: actions/download-artifact@v3
        with:
          name: build-artifacts
          path: dist/
      - name: Publish artifacts to PyPI
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          set -ex
          twine upload dist/* --verbose

  conda_build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-2019"]
        python-version: [3.8, 3.9, "3.10"]
    env:
      python_version: 3.9
      ANACONDA_USER: rtosholdings
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v2
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: "true"
        with:
          activate-environment: "conda_build"
          python-version: ${{ env.python_version }}
          auto-update-conda: true
          channels: conda-forge
          channel-priority: flexible
          show-channel-urls: true
      - name: Install dependencies
        shell: bash -l {0}
        run: |
          set -ex
          python dev_tools/gen_requirements.py --out conda_reqs.txt conda
          conda install -q -y --file conda_reqs.txt
      - name: Build Package
        shell: bash -l {0}
        run: |
          set -ex
          export BUILD_VERSION=$(python -c "from setuptools_scm import get_version; print(get_version(version_scheme='post-release'))")
          mkdir conda_pkgs_output
          echo "python: " ${{ matrix.python-version }} > ./conda_variant.yaml
          conda build conda_recipe -c ${ANACONDA_USER} --output-folder ./conda_pkgs_output --variant-config-files ./conda_variant.yaml
      - name: Publish artifacts
        uses: actions/upload-artifact@v3
        with:
          name: conda-build-artifacts
          path: conda_pkgs_output/*/riptable-*.tar.bz2
          if-no-files-found: "error"

  conda_deploy:
    if: ${{ github.event_name == 'workflow_dispatch' && github.ref == 'refs/heads/master' }}
    needs: [pypi_build, conda_build]
    runs-on: ubuntu-latest
    env:
      ANACONDA_USER: rtosholdings
      ANACONDA_TOKEN: ${{ secrets.anaconda_token }}
    steps:
      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v2
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: "true"
        with:
          activate-environment: "conda_deploy"
          auto-update-conda: true
          channels: conda-forge
          channel-priority: flexible
          show-channel-urls: true
      - name: Install dependencies
        shell: bash -l {0}
        run: |
          conda install anaconda-client -q -y
      - name: Download build artifacts
        uses: actions/download-artifact@v3
        with:
          name: conda-build-artifacts
          path: conda_pkgs_output/
      - name: Upload to Anaconda
        shell: bash -l {0}
        run: |
          set -ex
          anaconda --token "${ANACONDA_TOKEN}" upload --label main --user ${ANACONDA_USER} ./conda_pkgs_output/*/riptable-*.tar.bz2
